---
const { origin } = Astro.url;
const { id } = Astro.params;
const post: any | string = await fetch(`${origin}/api/posts/${id}`, {
    method: "GET",
})
    .then((res) => res.json())
    .then((data) => data)
    .catch(() => "NOT FOUND");
---

<form action="#" method="POST">
    <input type="hidden" name="id" value={post.post_id} />
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value={post.post_title} />
    <label for="body">Body</label>
    <textarea name="body" id="body" cols="30" rows="10"
        >{post.post_body}
    </textarea>
    <button type="submit">Submit</button>
</form>
